/* Background color yo */
#borderpane{
    -fx-background-color: rgb(26, 26, 26)
}

#btnRight{
    -fx-background-image: url(RightTriangle.png);
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-min-width: 70.77px;
    -fx-min-height: 70.35px;
}

#btnLeft{
    -fx-background-image: url(LeftTriangle.png);
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-min-width: 70.77px;
    -fx-min-height: 70.35px;
}

#burger {
    -fx-background-image: url(Hamburger_icon.png);
    -fx-background-color: transparent;
    -fx-background-size: stretch;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;

}

.menu-item:hover {
    -fx-border-width: 1px;
    -fx-opacity: 75%;
}

.context-menu {
    -fx-background-color: transparent;
}

.menu-item {
    -fx-background-color: black;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 3px;
    -fx-padding: 4px;
}




.menu-button > .arrow-button {
    visibility: hidden;
}



#label{
    -fx-background-color: rgba(0, 0, 0, 0.67);
    -fx-text-fill: White;
    -fx-background-radius: 15;
    -fx-background-size: 80%;
    -fx-alignment: center;
    /* Gør den dynamisk somehow, sådan at størrelsen af baggrunden passer til teksten*/
}

