/* Background color yo */
#borderpane{
    -fx-background-color: rgb(38, 38, 38, 100);
}

#btnRight{
    -fx-background-image: url(../RightTriangle.png);
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-min-width: 70.77px;
    -fx-min-height: 70.35px;
}

#btnLeft{
    -fx-background-image: url(../LeftTriangle.png);
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-min-width: 70.77px;
    -fx-min-height: 70.35px;
}

#burger {
    -fx-background-image: url(../Hamburger.png);
    -fx-background-color: transparent;
    -fx-background-size: stretch;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;

}

.menu-item:hover {
    -fx-background-color: #00000e;

}

.context-menu {
    -fx-background-color: transparent;
}

.menu-item {
    -fx-background-color: black;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 3px;
    -fx-padding: 6px;
}

#loadImageBtn {
    -fx-background-color: transparent;
    -fx-background-image: url(../loadimages.png);
    -fx-font-size: 42;
}


.menu-button > .arrow-button {
    visibility: hidden;
}


#label{
    -fx-background-color: rgba(0, 0, 0, 0.67);
    -fx-text-fill: White;
    -fx-background-radius: 15;
    -fx-background-size: 80%;
    -fx-alignment: center;
    /* Gør den dynamisk somehow, sådan at størrelsen af baggrunden passer til teksten*/
}

/*BarChart*/

.default-color0.chart-bar {
    -fx-bar-fill: Red
}

.default-color1.chart-bar {
    -fx-bar-fill: Green
}

.default-color2.chart-bar {
    -fx-bar-fill: Blue
}

.default-color4.chart-bar {
    -fx-bar-fill: Gray
}

.chart-content {
    -fx-background-color: transparent;
}

.axis {
    -fx-tick-label-fill: lightgrey;
}

.axis-label {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}



.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-horizontal-grid-lines,
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
    -fx-stroke-width: 0px;
}



